.contacts {
  padding-top: 120px;
  padding-bottom: 120px;

  @include vp-1023 {
    padding-top: 100px;
    padding-bottom: 101px;
  }

  @include vp-767 {
    padding-top: 58px;
    padding-bottom: 44px;
  }
}

.contacts__wrapper {
  display: flex;

  @include vp-767 {
    flex-direction: column;
  }
}

.contacts__map {
  position: relative;
  max-width: 560px;
  width: percentage(calc(560 / $content-width-dp));
  background-color: transparent;

  @include vp-1023 {
    max-width: none;
    width: percentage(calc(324 / $content-width-tb));
  }

  @include vp-767 {
    order: 1;
    width: 100%;
  }
}

.contacts__map-background {
  background-color: $color-frostee;
}

.contacts__map iframe {
  border: none;
  display: block;
  width: 100%;

  @include vp-1023 {
    height: 335px;
  }
}

.contacts__text {
  max-width: 500px;
  width: percentage(calc(500 / $content-width-dp));
  margin-left: auto;

  padding-top: 76px;

  @include vp-1023 {
    max-width: none;
    width: percentage(calc(324 / $content-width-tb));
    padding-top: 67px;
  }

  @include vp-767 {
    width: 100%;
    padding-top: 0;
    margin-bottom: 40px;
  }
}

.contacts__text p {
  margin: 0;
  margin-bottom: 35px;

  font-weight: 500;
  font-size: 18px;
  line-height: 25px;

  @include vp-1023 {
    line-height: 27px;
    margin-bottom: 26px;
  }
}

.contacts__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.contacts__item--address {
  display: flex;
  align-items: flex-start;

  margin-bottom: 24px;
}

.contacts__icon {
  flex: 0 0 auto;
  margin-right: 10px;
}

.contacts__item address {
  font-style: normal;

  @include vp-1023 {
    line-height: 24px;
  }
}

.contacts__item--address .contacts__icon {
  @include vp-1023 {
    margin-top: 5px;
  }
}

.contacts__link {
  display: flex;
  align-items: flex-start;
  width: max-content;

  color: $color-tangaroa;
}

.contacts__link:hover,
.contacts__link:focus {
  text-decoration: underline;
  outline: none;
}

.contacts__link:active {
  text-decoration: none;
  opacity: 0.6;
}
